* {
    background: rgb(252, 243, 252);
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
}

body {
    width: 75%;
    margin: auto;
}

h1, h2 {
    margin: 35px 0;
    text-align: center;
}

p {
    text-align: center;
}

button {
    background: rgb(250, 248, 233);
}

button:hover {
    cursor: pointer;
}

button:focus {
    background: rgb(250, 238, 148);
}

.radio {
    text-align: center;
}

[type = "radio"] {
    margin-right: 5px;
}

.requestWH {
    text-align: center;
    margin-top: 35px;
}

#weightText {
    padding-top: 30px;
    display: inline;
}

#heightText {
    display: inline;
}

.input {
    text-align: center;
    display: inline;
}

#submit {
    text-align: center;
    margin-top: 40px;
}

[type = "submit"] {
    background: rgb(236, 255, 250);
    font-size: 16px;
    padding: 8px;
}

[type = "submit"]:hover {
    cursor: pointer;
}

#result {
    text-align: center;
    margin-top: 35px;
}

.underweightResult {
    color: rgb(250, 96, 191);
}

.normalWeightResult {
    color: rgb(50, 179, 50);
}

.overweightResult {
    color: rgb(255, 140, 0);
}

.obeseResult {
    color: orangered;
}