* {
    background: rgb(252, 243, 252);
    font-family:'Courier New', Courier, monospace
}

h1, h2 {
    margin: 35px 0;
    text-align: center;
}

p {
    font-weight: bold;
    text-align: center;
}

.input {
    text-align: center;
}

.submit {
    text-align: center;
    margin-top: 40px;
}

[type = "submit"] {
    background: rgb(236, 255, 250);
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
}

[type = "submit"]:hover {
    cursor: pointer;
}